<ul id="filter-tags" class="govuk-body-s filter-tags">
    <li id="special-li"><strong>In:</strong></li>
    <li><a class="filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span> Demographics</a> or</li>
    <li><a class="filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span> Housing</a> or</li>
    <li><a class="filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span> Borough</a> or</li>
    <li><a class="filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span> ogl-v2</a></li>
  </ul>
