<!-- <p class="govuk-hint govuk-!-font-size-16">Filters narrow down results.</p> -->

<ul id="filter-tags" class="govuk-body-s filter-tags">
  <!-- <li id="special-li"><strong>In:</strong></li> -->
  <li><a class="filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span> Format: <strong>Reports</strong></a></li>
  <li class="content-li">and</li>
  <li><a class="filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span> Organisations: <strong>Greater London Authority (GLA)</strong></a></li>
  <li class="content-li">and</li>
  <li><a class="filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span> Update frequency: <strong>Quarterly</strong></a></li>
</ul>

<p class="govuk-body-s"><a class="govuk-link" id="clearFilters" href="#">Reset search</a></p>

