//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

$govuk-font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji !default;
$govuk-link-colour: #e7135d;
$govuk-link-visited-colour: #e7135d;
$govuk-link-hover-colour: #e4035e;
$govuk-link-active-colour: #111827;

$govuk-button-background-colour: #e7135d;
$govuk-button-text-colour: #fff;