<details class="govuk-details">
<summary class="govuk-details__summary">
  <span class="govuk-details__summary-text">
    Advanced search
  </span>
</summary>
<div class="govuk-details__text">
  <ul class="govuk-list govuk-list--bullet">
    <li>
      Use <a id="andLink" class="govuk-link" href="#">AND</a> to return results that contain multiple terms. For example, "population" AND "economy".
    </li>
    <li>
      Use <a id="orLink" class="govuk-link" href="#">OR</a> to return results that contain any of the terms. For example, "population" OR "economy".
    </li>
  </ul>
</div>
</details>