<p class="govuk-hint govuk-!-font-size-16">Filters narrow down results.</p>

<ul id="filter-tags" class="govuk-body-s filter-tags">
  <!-- <li id="special-li"><strong>In:</strong></li> -->
  <li><a class="filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span> Format: <strong>Tables</strong></a></li>
  <li><a class="filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span> Geography: <strong>Borough</strong></a></li>
  <li><a class="filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span> Frequency: <strong>Quarterly</strong></a></li>
</ul>

<p class="govuk-body-s"><a class="govuk-link" id="clearFilters" href="#">Clear filters</a></p>

