{% extends "/layouts/no-header.html" %}

{% set pageName="Home" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  
      <span class="govuk-caption-l">Design prototypes for</span>
      <h1 class="govuk-heading-xl">
        Search enhancements
      </h1>
  
      <p>Different prototypes have been created to test specific scenarios and interactions for how we might implement solutions that work in the future.</p> 

      <p><strong>Before you start:</strong></p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          This is not a real product or service. You should only continue if you have been invited to test this prototype.
        </li>
        <li>
          This prototype is intended to communicate and test functional ideas only. <strong>All visual design is illustrative only for prototyping purposes and not to be used for comparison to delivered product(s)</strong>.
        </li>
        <li>
          Data entered is stored locally only for the duration of your session.
        </li>
      </ul>
  
      <h2 class="govuk-heading-l">
        Prototypes
      </h2>

      <p><a class="govuk-button" href="/search">View latest design</a></p>

      <p><a href="/results-variant">Metadata variants in search results</a> (Sprint 2) — Exploring multiple options how metadata might be surfaced in search results. These were created to visualise different ideas and approaches so that a decision could be made balancing desirability and feasibility.</p> 

      <p><a href="/sprint-2/filter-sidebar">Filter by types of data</a> (Sprint 2) — Mapping individual file types/extensions to collective data types, for example report or table (rather than .pdf or .xls). This is concept to be explored as an enhancement to the product in the future.</p> 

      <p><a href="/sprint-1/">Previous experiments</a> (Sprint 1) — Design experiments to test the highest priority assumptions. Using the evidence from research the team will be able to make new decisions on priority, progress certain tickets to development and identify areas for iteration.</p> 
  
    </div>
  </div>
    
{% endblock %}
